{% extends "layout.html" %}

{% block title %}
    history
{% endblock %}

{% block main %}
    <table class="table table-striped">
      <thead>
          <th>Symbol</th>
          <th>Shares</th>
          <th>Price</th>
          <th>Transacted</th>
      </thead>
      <tbody>
    {% for transaction in transactions %}
      <tr>
        <th>{{ transaction[0] }}</th>
        <td>{{ transaction[1] }}</td>
        <td>{{ transaction[2] }}</td>
        <td>{{ transaction[3] }}</td>
      </tr>
    {% endfor %}
    </table>
{% endblock %}